@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body
{
    background-color: #116466;
    color: #fff5f5;
    font-size: 18px;
    line-height: 1.6em;
    padding: 30px; 
    font-family: 'Work Sans', sans-serif;
    align-items: center;
}

h1{
    color:  #ffcb9a; 
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 32px;
    padding: 10px 0;
    text-transform: uppercase;
}

h2{
    color: #bbeced; 
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 24px;
    padding: 10px 0;
    text-transform: uppercase;
}

.navbar-brand{
    padding-left: 30px;
}


.bg-steel {
    background-color: #2c3531;
  }
  
.site-header .navbar-nav .nav-link {
    color: #cbd5db;
    text-decoration: none;
    padding-left: 50px;
  }
  
.site-header .navbar-nav .nav-link:hover {
    /* color: #ffffff; */
    color:  #ffc9ba;
  }
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

a{
    color: #ffcb9a;
}

a:hover{
    color: white ;
    text-decoration: none;
}

a:visited
{
    color: #ffcb9a;  
}
.dropdown {
  float: left;
}

.dropdown .dropbtn {
  color: #cbd5db;
  font-size: 18px; 
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  align-content: left;
  position: absolute;
  background-color:  #2c3531;
  min-width: 190px;
  z-index: 1;
  font-size: 14px;
  text-align: left;
}

.drop{
  color: #cbd5db;
  text-decoration: none;
  padding: 0px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.container1
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    margin: 20px;
}

.image{
   text-align: center;
   padding: 15px;
}

.box p{
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 20px;
}

  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 30px;
  }
 
.column1 {
    float: center;
    width: 33.3%;
    padding: 20px;
    padding-bottom: 20px;
  }

.row{
  align-content: center;

}
.column2 {
    float: left;
    width: 40%; 
    padding-top: 20px;
    padding-left: 100px;
    align-content: center;
    padding-bottom: 15px;
  }

li{
    list-style: none;
    color: #ffcb9a;
    padding-bottom: 5px;
    font-size: 18px;
}

.container2
{
    text-align: center;
    align-self: center;
    padding-bottom: 25px;
}

.img{
  padding-top: 10px;
  padding-bottom: 25px;
}

.plain{
  list-style: none;
  padding-bottom: 5px;
  font-size: 20px;
  color:  #fff5f5;
}

.LI-profile-badge{

  padding-top: 10px;
  padding-bottom: 20px;
}